@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/anton/9a0b87665ccc2051.ttf) format('truetype');
}

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/archivo-black/f57c41b0eb84cc4c.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/arimo/2a5f6aa64321acf7.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/arimo/98ec971f47d6f239.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/arimo/1a644bcc1bf5fa72.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/arimo/2896808b2b5017ad.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/arimo/6f2e69a4bd86a4a9.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/arimo/c9c5d9fc72b61cf7.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/arimo/754c1462461a27a6.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/arimo/98ef213294065e27.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/bebas-neue/c921b0a4deab0e7f.ttf) format('truetype');
}

@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cal-sans/b862f2bb651fde80.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/b1918663f099da1f.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/374c6c52ce838c05.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/73152f8d0c78aab8.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/9872c1a09b5393df.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/acfcbeb83b0a48be.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/911bf559d287436e.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/bb8f3c3b0ca40380.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/75407d22188550d6.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/705776b6237d1fd4.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/cormorant-garamond/a9565983a6247cbc.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/dm-sans/f4e8a65e4dc0d72d.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/dm-sans/bd3286149a123f93.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/dm-sans/9ca12861e40c8add.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/dm-sans/24ba74e1b36dbe94.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/dm-sans/1d1b2dc337b4f025.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/dm-sans/0348c5b8c3060783.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/dm-sans/70e074455d6b9e0a.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/dm-sans/e7f62cb72d669686.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/dm-sans/190e13314888e7c6.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/dm-sans/fe5eb4d77e035c96.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/dm-sans/21353ee092ca5f7e.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/dm-sans/86b5709fc72608e5.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/dm-sans/0569c822cab6c510.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/dm-sans/9bd8ba39c9d55e06.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/dm-sans/18e69125ce1f964e.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/dm-sans/8257aa2626c379cb.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/dm-sans/613415ecf5833cac.ttf) format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/dm-sans/13523a93dcccf149.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/geist/9a91cb12e345785d.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/geist/840db094d25c110f.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/geist/a96db5f09608be09.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/geist/cb12f3ea236f725d.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/geist/8a9cbd74c92ae5f9.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/geist/6784bb79a59f63c5.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/geist/1cc40aede5a49f98.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/geist/99a1d67570a31570.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/geist/2508fe691ee2b496.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/geist/95a5fb3e6930e4c7.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/geist/c509c431f0372dad.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/geist/900c1340657ef456.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/geist/c2bef016fb9b4bcd.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/geist/541119bccb21575e.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/geist/011cb50bc76b8e25.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/geist/e374eee52bb36e03.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/geist/6b270e7e6da1b50c.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/geist/460dc3935faa5867.ttf) format('truetype');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/geist-mono/f824d8c0617be51d.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/geist-mono/a62f02f376b5c5af.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/geist-mono/ddf4121c487d340e.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/geist-mono/1fea0bb0cb82c730.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/geist-mono/d75b21db7b5f0d1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/geist-mono/1958343d86cf29db.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/geist-mono/a70612b531ced64f.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/geist-mono/69c1585e41b82bb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/geist-mono/ee4e2aeee4aea401.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/geist-mono/0b126ffb591af3f4.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/geist-mono/aae7fdc7e9490cfd.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/geist-mono/e3481e94567757fd.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/geist-mono/706d7515d64b1e19.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/geist-mono/e858776f9ad0d058.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/geist-mono/7170a9ec07b3758b.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/geist-mono/3846c19bc36bee47.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/geist-mono/f7d2961b86bf81b7.ttf) format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/geist-mono/dd9a1dcfdcaf8784.ttf) format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/5a15af0e02024677.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/3495a9299c0a6036.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/e78ac241901e313f.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/b05231b0cba19256.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/f235a2cb1105afb5.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/511240f4addd8d06.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/332a8e39927c7a9f.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/504da0ec440359b3.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/751846d948d19902.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/a3a74cc1b1d04368.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/1a9cad03d35e9bb1.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/b9122df809d9d920.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/8da5dfcdccfbe404.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans/9ba92c9bda672730.ttf) format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/6542fc1922e0c241.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/4c1d65a6d1b095b0.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/3ea4986857891396.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/862667a817847348.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/3ef0d73756297274.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/bb78664a089e7f6a.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/ccd3ef9b0d84a8c6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/inconsolata/aa9c732f6df237b4.ttf) format('truetype');
}

@font-face {
  font-family: 'Instrument Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/instrument-serif/7e0a56187ecaff85.ttf) format('truetype');
}
@font-face {
  font-family: 'Instrument Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/instrument-serif/c1e7453ea26a1d1e.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/inter/cfc1ad02e91c1f73.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/inter/e8f4f237d14eb97e.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/inter/acdf0c64fdcf14b5.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter/abd281d0dad14338.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter/f3a0eb876d546f71.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/inter/ac0bffb8676d0c1a.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter/da92c6a83bd0472b.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/inter/85e0e8e4a47ba722.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/inter/981d8432eb23e81b.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/inter/da69e5d9e9576d30.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/inter/2d5523b07e76b595.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/inter/ee9558be9f8a4d75.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter/a699af1dea30b799.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter/e45972c7e9f24dc3.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/inter/87e867b52640b3b3.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter/6f49e1b28bce7339.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/inter/2f6c206f7c744148.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/inter/861da2b4255e09a6.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/inter-tight/44550fabd6a55194.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/inter-tight/68b367f68e9af225.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/inter-tight/c37fef85e189e8ff.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter-tight/441ef0e61bc1e442.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter-tight/d87533cac88184d1.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/inter-tight/75bea28ecbef9ac6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter-tight/00a3eeb3cbb442b6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/inter-tight/605e76182ce01332.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/inter-tight/9b257ff911178602.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/inter-tight/e9c6e3bdc62099b6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/inter-tight/340763be4ea4311c.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/inter-tight/1ec94267de47c192.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter-tight/42aaaf7a68ce5eb5.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter-tight/ba08b16a00221416.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/inter-tight/722ff42d0080d150.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter-tight/3ff89d14ef3d3641.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/inter-tight/b2dd8b5211efd1e8.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/inter-tight/ff98febdd9d848ba.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/407f551cd6eab89d.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/8cdb8fdaad0072f4.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/10a2db2b4f2467d0.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/8a16071270fd8d41.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/8e656f506864a215.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/b85424b49e5b4a6e.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/7029837dc9f88ccc.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/166a964210cc6404.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/7109d828b1b0c129.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/7528dadceedc59c2.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/b95b576b0912b261.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/6d83b1a12212ea9e.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/655ecee898b68ff3.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/5f6675d606a21f26.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/c1c656933a1f4b14.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/jetbrains-mono/32bf30e94c6c5d0b.ttf) format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/lora/7b56c437cef01b08.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/lora/c4d4b582010522e2.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/lora/b23c9df63bf49d3b.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/lora/8a8a17b3b2f2ac83.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/lora/c8f8c7f5ed539bb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/lora/26bad053b5abef0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/lora/9c2c504c5bf6914e.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/lora/33605a4217326af4.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/manrope/3f6a66e09ce7a6f4.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/manrope/12ffff5404d61b27.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/manrope/755fa076675e6f61.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/manrope/e6fa40b6715a310a.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/manrope/900670474e93d412.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/manrope/e7e0cf40cb44208e.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/manrope/0404e9f6404a474c.ttf) format('truetype');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/e345609738242409.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/55f4dc0338eab195.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/3f7783a9274e2462.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/f05d73cb31c1ca4e.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/57b5d4ae953d73a2.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/f4cd54d4eadb9fd4.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/24cd87f0f7c4c07b.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/a4826581a0fe29d0.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/afbabc493862ee38.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/7dd4cb594ba2ff3b.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/8b671e0bc5a1bb2c.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/be5810aad11a6060.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/f494923440e88fb3.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/77501d0ee1a66e36.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/936e57731626211c.ttf) format('truetype');
}
@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/mona-sans/8fed886c0b053e89.ttf) format('truetype');
}

@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/newsreader/fef6470d1e970687.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/newsreader/463b9785306ce85e.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/newsreader/289d2aa8e0ed6731.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/newsreader/e365077394b3cd59.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/newsreader/c9a12dfcdb6c891d.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/newsreader/c26be72c2550b66f.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/newsreader/7b746e52d1dceca8.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/newsreader/f413cefda1a1091b.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/newsreader/dfe936d7a3e5c58f.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/newsreader/d6c65600eb0149bc.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/newsreader/3208926ba69d6886.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/newsreader/151ae355673a2936.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/newsreader/33e1f2853df3544d.ttf) format('truetype');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/newsreader/6fda6170844e09c2.ttf) format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/playfair-display/d0e784ef034da1aa.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/playfair-display/013fe10123fce329.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/playfair-display/7d62dda1d3895620.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/playfair-display/fb084c8b15e94383.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/playfair-display/8fa83a056b0d36c0.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/playfair-display/49159f810d4dc307.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/playfair-display/5ae86d38cfa3525e.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/playfair-display/f5a22007f7fe04ac.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/playfair-display/c67a6241b1e0d6ae.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/playfair-display/8a70c7995340f54c.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/playfair-display/18ffac34dbf4b1d5.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/playfair-display/d13e9daa375ab859.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/bf2cc5bca80a00e2.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/079478434027accb.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/a24b3980a44f0208.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/e4b43e86c005a136.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/f285a18ad47c6511.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/2bc362a1af22e934.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/b5ecdf05ca9b481d.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/65e80540f35175b6.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/643910beef0de0c2.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/efe1ff8d29a2a82e.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/5d1e33d79e1ac490.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/5639371f108fd32a.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/d8dc5a5f3c90f50e.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/c14c6f78e26d1c8e.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/1732806670364de1.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/17dbcf71ea4dcfbb.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/47060fa093a14751.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/roboto/c4c5cbe6fc321619.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/rubik/079588e7f2ef9391.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/rubik/d4d91ab684c954ac.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/rubik/8177fb4c835b9ac9.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/rubik/9621b3c64f075ea9.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/rubik/76c93d5bd732b384.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/rubik/bba825aa8ccd5f80.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/rubik/1178adec49b313be.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/rubik/f21d2ed782c72654.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/rubik/bd541e2d7b7c712d.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/rubik/ece9cb794bea716a.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/rubik/f3dbce7be994996a.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/rubik/4db42137a988032e.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/rubik/536b4af8c047a76e.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/rubik/31c16d4d9c6d63a9.ttf) format('truetype');
}

@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/saira-condensed/38e38b93e802c333.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/saira-condensed/f5b994214574dd1d.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/saira-condensed/29d49f08c888be89.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/saira-condensed/1b2fb952099783ca.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/saira-condensed/77ee53355e624d5e.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/saira-condensed/050188bffab319e4.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/saira-condensed/fa005d4fd3405206.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/saira-condensed/6e0c740263f01354.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/saira-condensed/31cda8a0a3ebd0db.ttf) format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/space-grotesk/aab63435a01a8dd2.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/space-grotesk/0dfc29fde7d95ca6.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/space-grotesk/56632cca6632f379.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/space-grotesk/d03f1389be8c7cea.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/space-grotesk/aaf352f017a5007b.ttf) format('truetype');
}

@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/tinos/d6e836b0080d81a9.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/tinos/c54fc6af0c9727f9.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/tinos/fbb8016179bd896a.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/tinos/cb32a4babfb451b9.ttf) format('truetype');
}
