@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/inter-tight/44550fabd6a55194.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/inter-tight/68b367f68e9af225.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/inter-tight/c37fef85e189e8ff.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter-tight/441ef0e61bc1e442.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter-tight/d87533cac88184d1.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/inter-tight/75bea28ecbef9ac6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter-tight/00a3eeb3cbb442b6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/inter-tight/605e76182ce01332.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/inter-tight/9b257ff911178602.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/inter-tight/e9c6e3bdc62099b6.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/inter-tight/340763be4ea4311c.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/inter-tight/1ec94267de47c192.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/inter-tight/42aaaf7a68ce5eb5.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/inter-tight/ba08b16a00221416.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/inter-tight/722ff42d0080d150.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter-tight/3ff89d14ef3d3641.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/inter-tight/b2dd8b5211efd1e8.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/inter-tight/ff98febdd9d848ba.ttf) format('truetype');
}
