@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/arimo/2a5f6aa64321acf7.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/arimo/98ec971f47d6f239.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/arimo/1a644bcc1bf5fa72.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/arimo/2896808b2b5017ad.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/arimo/6f2e69a4bd86a4a9.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/arimo/c9c5d9fc72b61cf7.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/arimo/754c1462461a27a6.ttf) format('truetype');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/arimo/98ef213294065e27.ttf) format('truetype');
}
